<!DOCTYPE html>
<html
        lang="en" xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout/layout.html}"
        xmlns:sec="http://www.w3.org/1999/xhtml"
>
<head>
    <title>Recipes</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div sec:authorize="hasAuthority('CHEF')" class="recipe-toolbar">
        <a data-cy="newRecipe" href="/recipes/new" class="waves-effect waves-light btn-large red lighten-2">Add new
            recipe</a>
    </div>
    <h1 th:if="${recipes.empty}">There is no recipe!!! Please add your favorite recipe :)</h1>
    <div class="section" th:each="recipe : ${recipes}">
        <div>
            <div class="card horizontal">
                <img class="recipe-image" th:src="@{${'/recipes/photo/' + recipe.id}}">
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title" th:text="${recipe.name}">Recipe Name</span>
                        <div class="rec-description">
                            <div class="rec-title">Description:</div>
                            <p th:text="${recipe.description}"></p>
                        </div>
                    </div>
                    <div class="card-action">
                        <div class="rec-time">
                            <div th:text=" 'PREPARE TIME: ' + ${recipe.prepareTime}"></div>
                            <div th:text=" 'COOK TIME: ' + ${recipe.cookTime}">Cook Time:</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>