<div th:fragment="image-card" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="col s12 l6">
        <div class="card card-home">
            <div class="card-image">
                <img class="image-home" th:src="@{${'/recipes/photo/' + recipe.id}}">
            </div>
            <div class="card-content">
                <span class="card-title" th:text="${recipe.name}"></span>
                <p th:text="${recipe.description}"></p>
            </div>
            <div class="card-action">
                <a href="">More details</a>
                <a href="">View Ingredients</a>
            </div>
        </div>
    </div>
</div>

