<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/main.css">
    <title>About Us</title>
</head>
<body>
<div class="content">
    <h1>The project members are:<br> Mariia, Maksim, Arthur</h1>
    <p id="time" th:text="'The current time is: ' + ${time}"></p>
</div>
<!--<div nav-menu>-->
<!--    hier will be menu bar-->
<!--</div>-->
<!--<div class="about__content ">-->
<!--    <div class="about&#45;&#45;title" >Our awesome team</div>-->
<!--    <div class="about&#45;&#45;person person1">-->
<!--        <div class="about&#45;&#45;img">-->
<!--            <img src="https://robohash.org/winter" alt="person1"><img>-->
<!--        </div>-->
<!--        <div class="about&#45;&#45;text">-->
<!--            <p>small description</p>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="about&#45;&#45;person person2">-->
<!--        <div class="about&#45;&#45;img">-->
<!--            <img src="https://robohash.org/summer" alt="person2"><img>-->
<!--        </div>-->
<!--        <div class="about&#45;&#45;text">-->
<!--            <p>small description</p>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="about&#45;&#45;person person3">-->
<!--        <div class="about&#45;&#45;img">-->
<!--            <img src="https://robohash.org/spring" alt="person3"><img>-->
<!--        </div>-->
<!--        <div class="about&#45;&#45;text">-->
<!--            <p>small description</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<footer>-->
<!--    hier will be footer-->
<!--</footer>-->
</body>
</html>