<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/main.css">
    <title>Create Recipes</title>
</head>
<body>
<form action="">
    <label for="">Please enter your recipe name</label>
    <input type="text" placeholder="Enter here">
    <p>Choose your ingridiends</p>
    <select name="" id="">
        <option value="1">Milk</option>
        <option value="2">Egs</option>
        <option value="3">Magic</option>
        <option value="4">Butter</option>
    </select>
    <p>Add some images</p>
    <input type="image">
    <p>Submit your recipe</p>
    <button type="submit">submit</button>
</form>
</body>
</html>