<!DOCTYPE html>
<html
        lang="en" xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout.html}"
>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<header layout:fragment="header"></header>

<div layout:fragment="content" class="container">
    <form class="form--login" th:action="@{/login}" method="post">
        <div class="row">
            <div class="col s6 offset-s3">
                <div class="card z-depth-1 card-login">
                    <div class="card-action blue-grey white-text">
                        <h3 class="center-align">Login</h3>
                    </div>
                    <div class="card-content">
                        <div class="form-field">
                            <label for="username">User:</label>
                            <input type="text" name="username" id="username" class="form-control">
                        </div>
                        <div class="form-field">
                            <label for="password">Password:</label>
                            <input type="password" name="password" id="password" class="form-control">
                        </div>
                        <div th:if="${param.error}" class="alert alert-error">
                            Invalid username or password.
                        </div>
                        <div class="form-field-buttons">
                            <div class="form-field">
                                <button type="submit" class="btn-large right-align blue-grey">Login</button>
                            </div>
                            <div class="form-field">
                                <a href="/register" class="btn-large blue-grey">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>