<!DOCTYPE html>
<html
        lang="en" xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout.html}"
>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<header layout:fragment="header"></header>
<div layout:fragment="content" class="container cont-login">
    <form class="form--login" th:action="@{/login}" method="post">
        <div class="card col">
            <div class="card-content">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input placeholder="username" type="text" name="username" id="username" class="validate">
                        <label class="active" for="username">User:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock_outline</i>
                        <input placeholder="password" type="password" name="password" id="password" class="form-control">
                        <label class="active" for="password">Password:</label>
                    </div>
                    <div th:if="${param.error}" class="alert alert-error center-align">
                        Invalid username or password.
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button type="submit" class="btn waves-effect waves-light col s12">Login</button>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field register-link">
                        <a href="/register" class="right-align">Register Now</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>