<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" th:href="@{css/main.css}">
    <title>Recipes</title>
</head>
<body>
<header>
    <div th:replace="fragments/top-navigation-bar :: topnavbar"></div>
</header>
<div class="container">
    <div sec:authorize="hasAuthority('CHEF')" class="recipe-toolbar">
        <a data-cy="newRecipe" href="/recipes/new" class="waves-effect waves-light btn-large red lighten-2">Add new
            recipe</a>
    </div>
    <h1 th:if="${recipes.empty}">There is no recipe!!! Please add your favorite recipe :)</h1>
    <div class="section" th:each="recipe : ${recipes}">
        <div>
            <div class="card horizontal">
                <img class="recipe-image" th:src="@{${'/recipes/photo/' + recipe.id}}">
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title" th:text="${recipe.name}">Recipe Name</span>
                        <div class="rec-description">
                            <div class="rec-title">Description:</div>
                            <p th:text="${recipe.description}"></p>
                        </div>
                    </div>
                    <div class="card-action">
                        <div class="rec-time">
                            <div rec-time--prepar th:text=" 'PREPARE TIME: ' + ${recipe.prepareTime}"></div>
                            <div rec-time--cook th:text=" 'COOK TIME: ' + ${recipe.cookTime}">Cook Time:</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>